
<section class="hero-section">

  <div class="hero-content">

    <p class="overline product-header"> New Product</p>

    <h2 class="hero-title">XX99 Mark II Headphones</h2>


    <p class="hero-text"> Experience natural, lifelike audio and
        exceptional build quality made for passionate
        music enthusiast.

    </p>

    <app-button-primary [text]="'See Product'"> </app-button-primary>


  </div>

  <picture class="hero-img">

    <img src="/assets/home/desktop/image-hero.jpg" alt="Picture of XX99 Mark II Headphones"/>


  </picture>


</section>
