<nav class="mobile-nav">

  <img ngSrc="/assets/shared/tablet/icon-hamburger.svg" width="20" height="20" class="mobile-menu"
    (click)="toggleMenu()" />


  <app-logo></app-logo>
  <img ngSrc="/assets/shared/desktop/icon-cart.svg" width="20" height="20" class="cart-icon" (click)="toggleCart()" />


  <section class="menu-modal" *ngIf="menuOpen" [@fadeInOut]>
    <div class="content-container">
      <app-nav-link *ngFor="let item of navItems" [imgSrc]="item.imgSrc"
        [categoryName]="item.categoryName"></app-nav-link>
    </div>
  </section>

  <aside class="overlay" *ngIf="cartOpen" (click)="toggleCart()"></aside>
  <section class="cart-modal" *ngIf="cartOpen" [@fadeInOut]>
    <div class="checkout-content-container">
      <div class="checkout-header">
        <h5> Cart ({{ cartItems.length }})</h5>
        <p class="remove-all"> Remove all </p>
      </div>
      <app-cart-list [cartItems]="cartItems"></app-cart-list>
    </div>
  </section>




</nav>
